:root {
  --無__dlsite-link: #039;
  --無__dlsite-text-paleblue: #536280;
  --無__dlsite-work_buy-background: #e6eaf2;
  --無__dlsite-work_buy-border: #b7bed0;
  --無__dlsite-pink: #fa6496;
}

.base_title_br {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 3fr;
  align-items: end;
}

div.base_title_br h1 {
  /* Something weird happens with ruby when set to pre-wrap. */
  white-space: normal;
  /* Default causes needless breaks. */
  margin-right: 80px;
  word-break: break-word;
}

.base_title_br .icon_wrap {
  /* Hack making it span the whole first row. */
  grid-column: span 100;
}

/* Translation page weirdness. */
.base_title_br > *,
.base_title_br .link_share {
  position: static;
}

/* It's used without <ruby> container, so it needs to be styled explicitly. */
rt {
  display: block;
  font-size: 11px;
}

#work_name {
  user-select: auto !important;
}

/* To combat aggresive leftover style. */
h1#work_name > a#無-dltweak__kana-toggle {
  all: unset;
  margin-left: 5px;
  font-size: 11px;
  vertical-align: super;
}

h1#work_name > a#無-dltweak__kana-toggle,
#無-dltweak__filelist-toggle {
  color: var(--無__dlsite-link);
  cursor: pointer;
}

h1#work_name > a#無-dltweak__kana-toggle:hover,
#無-dltweak__filelist-toggle:hover {
  text-decoration: underline;
}

.無-dltweak__button,
.link_dl_ch,
.link_share {
  margin-bottom: 2px;
}

.無-dltweak__button {
  position: relative;
  display: flex;
  width: fit-content;
  height: 20px;
  border-radius: 2px;
  margin-left: 5px;
  background-color: #4baef3;
  font-size: 11px;
  cursor: pointer;
  color: #fff;
  float: right; /* Backup for rendering outside grid. */
}

.無-dltweak__button a {
  color: #fff;
}

.無-dltweak__button > * {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.無-dltweak__button .button_label::before {
  padding-right: 4px;
  font-family: "Font Awesome 5 pro";
  font-weight: 100;
}

#無-dltweak__title-copy-button {
  background-color: #38ad3f;
}

#無-dltweak__title-copy-button .button_label::before {
  content: "\f0c5";
}

#無-dltweak__api-button {
  background-color: #12c9cb;
}

#無-dltweak__as-button {
  background-color: #2196f3;
}

#無-dltweak__as-button .button_label::before {
  content: "\f002";
  font-size: 10px;
}

table#work_outline {
  margin-bottom: 5px;
}

#無-dltweak__filelist {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(145px, max-content));
  color: var(--無__dlsite-text-paleblue);
}

.無-dltweak__filelist-item {
  padding: 4px;
  background-color: var(--無__dlsite-work_buy-background);
  border: 1px solid var(--無__dlsite-work_buy-border);
  border-radius: 2px;
}

.無-dltweak__filelist-title {
  font-weight: bold;
}

body.無-dltweak__unmasked-word-highlight-enabled .無-dltweak__unmasked-word {
  display: inline-flex;
  max-height: 1.5em;
  background-color: var(--無__dlsite-pink);
  color: #fff;
  align-items: center;
}
